
<!-- <app-navbar></app-navbar> -->
<section class="bg-orange-100">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a routerLink="/" class="flex items-center mb-6 text-2xl font-bold">
            GroceryApp    
        </a>
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Create a new account
                </h1>
                <form  class="space-y-4 md:space-y-6">
                    <div>
                        <label for="role" class="block mb-2 text-sm font-medium text-gray-900">Register as</label>
                        <select id="role" name="role" ngModel required class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                            <option value="" disabled selected>Select your role</option>
                            <option value="admin">Admin</option>
                            <option value="chef">Chef</option>
                        </select>
                    </div>
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
                        <input type="text" name="username" ngModel required id="username" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Your username">
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
                        <input type="email" name="email" ngModel required id="email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="name@company.com">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                        <input type="password" name="password" ngModel required id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                    </div>
                    <button routerLink="/admin-dashboard" class="w-full text-white bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Register</button>
                </form>
                <div class="flex items-center justify-center space-x-2">
                    <span class="text-gray-500">or</span>
                    <a routerLink="/admin/dashboard" class="font-medium text-orange-600 hover:underline">Continue with Google</a>
                </div>
                <p class="text-sm font-light text-gray-500">
                    Already have an account? <a routerLink="/admin/dashboard" class="font-medium text-orange-600 hover:underline">Sign in</a>
                </p>
                <div class="flex justify-between mt-4">
                    <a routerLink="/" class="text-sm font-medium text-orange-600 hover:underline">Back to Home</a>
                    <a routerLink="/login" class="text-sm font-medium text-orange-600 hover:underline">Login</a>
                </div>
            </div>
        </div>
    </div>
</section>